<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_9_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,98},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>blackbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>chesspad_ai.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,98},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>common_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,98},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>last_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{484,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,108}}</string>
                <key>sourceSize</key>
                <string>{484,108}</string>
            </dict>
            <key>piece_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,166},{64,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{64,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>piece_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,162},{64,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{64,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>whitebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>asset1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4baafbc32fac43c0c5eb822de0d1e69d:1/1$</string>
            <key>textureFileName</key>
            <string>asset1.png</string>
        </dict>
    </dict>
</plist>
