<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,740},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>Select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,740},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,832},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>btn_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,740},{220,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,68}}</string>
                <key>sourceSize</key>
                <string>{220,68}</string>
            </dict>
            <key>btn_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,740},{220,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,68}}</string>
                <key>sourceSize</key>
                <string>{220,68}</string>
            </dict>
            <key>btn_arrow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{220,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,68}}</string>
                <key>sourceSize</key>
                <string>{220,68}</string>
            </dict>
            <key>common_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,740},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>icon_mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,938},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>popup_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,736}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,736}}</string>
                <key>sourceSize</key>
                <string>{580,736}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,938},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Resource2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27adf62fd90d8d3d24e590cffdf89ec0:1/1$</string>
            <key>textureFileName</key>
            <string>Resource2.png</string>
        </dict>
    </dict>
</plist>
