<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>96.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,710},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>autologin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,966},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>autologin_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,910},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>back_9_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,928},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bar_back_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{8,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,450}}</string>
                <key>sourceSize</key>
                <string>{8,450}</string>
            </dict>
            <key>bar_narrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,578},{6,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,100}}</string>
                <key>sourceSize</key>
                <string>{6,100}</string>
            </dict>
            <key>black_9_back_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>btn_9_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,784},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>btn_9_big2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,430},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>btn_Middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,328},{220,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btn_Middle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,226},{220,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btn_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,644},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>btn_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>btn_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,808},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>btn_shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,578},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>btn_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,454},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>btn_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,920},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>icon_afterwards.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,712},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,576},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,134}}</string>
                <key>sourceSize</key>
                <string>{114,134}</string>
            </dict>
            <key>icon_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,930},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>icon_request_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,920},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>input_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,910},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{570,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,2}}</string>
                <key>sourceSize</key>
                <string>{570,2}</string>
            </dict>
            <key>loadingAnimation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,910},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>no_state.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,906},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>paopao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,626},{156,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{156,104}}</string>
                <key>sourceSize</key>
                <string>{160,108}</string>
            </dict>
            <key>paopao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,430},{146,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{146,98}}</string>
                <key>sourceSize</key>
                <string>{160,108}</string>
            </dict>
            <key>playerinfo_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,540}}</string>
                <key>sourceSize</key>
                <string>{580,540}</string>
            </dict>
            <key>popup_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{580,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,360}}</string>
                <key>sourceSize</key>
                <string>{580,360}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,712},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>softinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,150},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>sys_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,930},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>table_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{450,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,66}}</string>
                <key>sourceSize</key>
                <string>{450,66}</string>
            </dict>
            <key>table_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{450,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,3}}</string>
                <key>sourceSize</key>
                <string>{450,3}</string>
            </dict>
            <key>title-hc.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{146,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,42}}</string>
                <key>sourceSize</key>
                <string>{146,42}</string>
            </dict>
            <key>title-hh.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,784},{142,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,42}}</string>
                <key>sourceSize</key>
                <string>{142,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Resource1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19db5e6c8481d98574ea160caf6d2fe5:1/1$</string>
            <key>textureFileName</key>
            <string>Resource1.png</string>
        </dict>
    </dict>
</plist>
