<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>96.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1580},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,700},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>Select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,634},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>autologin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,784},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>autologin_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,732},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>back_9_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1678},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bar_back_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,206},{450,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,8}}</string>
                <key>sourceSize</key>
                <string>{450,8}</string>
            </dict>
            <key>bar_back_narrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,658},{8,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,342}}</string>
                <key>sourceSize</key>
                <string>{8,342}</string>
            </dict>
            <key>bar_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1160},{100,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,6}}</string>
                <key>sourceSize</key>
                <string>{100,6}</string>
            </dict>
            <key>bar_narrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1160},{6,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,100}}</string>
                <key>sourceSize</key>
                <string>{6,100}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1846},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>black_9_back_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,206},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>btn_9_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1076},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>btn_9_big2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1050},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>btn_Middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,532},{220,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btn_Middle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,430},{220,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btn_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,104},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>btn_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>btn_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1222},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>btn_shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1002},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>btn_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,868},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>btn_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,766},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>common_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,584},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>icon_afterwards.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,766},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1134},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,134}}</string>
                <key>sourceSize</key>
                <string>{114,134}</string>
            </dict>
            <key>icon_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,902},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>icon_request_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1746},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>input_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,676},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,658},{570,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,2}}</string>
                <key>sourceSize</key>
                <string>{570,2}</string>
            </dict>
            <key>loadingAnimation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1240},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1927},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>no_state.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1927},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>panel_back_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1324},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>panel_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,608},{550,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,20}}</string>
                <key>sourceSize</key>
                <string>{550,20}</string>
            </dict>
            <key>panel_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,206},{20,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,604}}</string>
                <key>sourceSize</key>
                <string>{20,604}</string>
            </dict>
            <key>panel_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{20,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,604}}</string>
                <key>sourceSize</key>
                <string>{20,604}</string>
            </dict>
            <key>paopao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,970},{156,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{156,104}}</string>
                <key>sourceSize</key>
                <string>{160,108}</string>
            </dict>
            <key>paopao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,906},{146,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{146,98}}</string>
                <key>sourceSize</key>
                <string>{160,108}</string>
            </dict>
            <key>playerinfo_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{580,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,540}}</string>
                <key>sourceSize</key>
                <string>{580,540}</string>
            </dict>
            <key>popup_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,736}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,736}}</string>
                <key>sourceSize</key>
                <string>{580,736}</string>
            </dict>
            <key>popup_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{580,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,360}}</string>
                <key>sourceSize</key>
                <string>{580,360}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,838},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>softinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,836},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>sys_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1678},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>table_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{450,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,66}}</string>
                <key>sourceSize</key>
                <string>{450,66}</string>
            </dict>
            <key>table_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,206},{450,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,3}}</string>
                <key>sourceSize</key>
                <string>{450,3}</string>
            </dict>
            <key>title-hc.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1006},{146,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,42}}</string>
                <key>sourceSize</key>
                <string>{146,42}</string>
            </dict>
            <key>title-hh.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1196},{142,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,42}}</string>
                <key>sourceSize</key>
                <string>{142,42}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1580},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Resource.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d60ea6a82e1a4685f81b2813f440f42:1/1$</string>
            <key>textureFileName</key>
            <string>Resource.png</string>
        </dict>
    </dict>
</plist>
