<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>age_string</key>
	<string>1、本游戏是一款棋牌类游戏，适用于年满$(age)周岁及以上的用户，建议未成年人在家长监护下使用本游戏产品。\n2、本游戏基于传统棋牌游戏设计，剧情简单，没有基于真实历史和现实事件的改编内容。游戏为卡通风格，主要的游戏画面为游戏牌局，游戏中采用丰富的音效来烘托游戏氛围。\n3、游戏中设置实名认证系统，认证为未成年的用户游戏将限制管理。\n4、棋牌游戏有助于锻炼用户的记忆力和分析判断力，需要用户不断分析判断和做决策，需要用户进行适量思考，有助于提升用户的逻辑思维能力；能够给用户积极愉悦的情绪体验，增强用户的自信心。</string>
	<key>age_title</key>
	<string>适龄提示</string>
	<key>children_string</key>
	<string>《多乐游戏未成年人隐私保护指引》</string>
	<key>contract_string</key>
	<string>《多乐游戏用户服务协议》</string>
	<key>default_title</key>
	<string>多乐游戏</string>
	<key>eighteen_age_string</key>
	<string>1、本游戏是一款棋牌类游戏，适用于年满18周岁及以上的用户。\n2、本游戏基于传统棋牌游戏设计，剧情简单，没有基于真实历史和现实事件的改编内容。游戏为卡通风格，主要的游戏画面为游戏牌局，游戏中采用丰富的音效来烘托游戏氛围。\n3、游戏中设置实名认证系统，认证为未成年人用户将无法登录。\n4、棋牌游戏有助于锻炼用户的记忆力和分析判断力，需要用户不断分析判断和做决策，需要用户进行适量思考，有助于提升用户的逻辑思维能力；能够给用户积极愉悦的情绪体验，增强用户的自信心。</string>
	<key>introduce_string</key>
	<string>感谢您使用本游戏，我们在提供游戏服务时可能会对您的信息进行收集、使用、共享和保护。为了您充分理解我们对您信息的处理规则，请在使用前务必认真阅读以下内容：</string>
	<key>isLandScape</key>
	<true/>
	<key>notice_string</key>
	<string>重要提示</string>
	<key>privacy_agreement_url</key>
	<string>https://www.duole.com/contract.html</string>
	<key>privacy_guide_children_url</key>
	<string>https://www.duole.com/privacy-guide-children.html</string>
	<key>privacy_string</key>
	<string>《多乐游戏隐私保护指引》</string>
	<key>update_string</key>
	<string>多乐游戏保障用户合法权益和重视用户隐私，并严格遵守相关法律法规的要求。我们更新了相关协议和指引内容，请认真阅读以下内容：</string>
	<key>welcome_string</key>
	<string>欢迎来到</string>
</dict>
</plist>
